<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--主程序相关配置-->
    <!--<add key="hostUrl" value="http://192.168.111.70:2000"/>-->
    <add key="hostUrl" value="http://192.168.112.163:8000" />
    <!--<add key="hostUrl" value="http://10.68.1.52" />-->
    <add key="loginApi" value="/api/sf/loginon" />
    <add key="infoApi" value="/api/sf/screen/config/list" />
    <add key="username" value="admin" />
    <add key="password" value="123456" />
    <add key="screenType" value="m" /><!--单个宽屏显示器s；多屏显示器m；单个超宽显示器w-->
    <add key="recordAhead" value="10" />
    <add key="serialPortName" value="COM1"/>
    <add key="alarmLampSecond" value="5"/><!--报警灯闪烁时长，秒-->
    <add key="alarmBeepEnable" value="1"/><!--报警灯是否蜂鸣-->
    <add key="logoImage" value="logo"/><!--主窗体logo-->
    <add key="showBoxOnCheckHardwareFaild" value="1"/><!--当没有检测到硬件设备（如体感摄像头）或系统服务（如语音识别、人脸识别服务）时，弹出信息提示。1 弹出；0 不弹出-->
    <!--语音识别相关配置-->
    <add key="voicePickerName" value="respeaker" />
    <add key="speechAutoStart" value="0" />
    <add key="micSensitivity" value="50" />
    <add key="BufferMilliseconds" value="25" />
    <add key="EndPickAdditional" value="5" />
    <add key="MicVolumnPickerSleepSecond" value="300" />
    <add key="UnKownTimes" value="3" />
    <!--人脸识别相关配置-->
    <add key="faceDetectAutoStart" value="0" />
    <add key="tempJpnPath" value="tempJpnPath" /><!--摄像头截图暂存路径-->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
