<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.3" targetFramework="net452" />
  <package id="Baseclass.Contrib.Nuget.Output" version="2.4.3" targetFramework="net452" />
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net452" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net452" />
  <package id="CefSharp.Common" version="73.1.130" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="73.1.130" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="Confluent.Kafka" version="1.0.1.1" targetFramework="net452" />
  <package id="fastJSON" version="2.3.1" targetFramework="net452" />
  <package id="librdkafka.redist" version="1.0.1" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="NamedPipeWrapper" version="1.5.0" targetFramework="net452" />
  <package id="NAudio" version="1.10.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
  <package id="NiWrapper.Net.x86" version="2.2.0.34" targetFramework="net452" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.8" targetFramework="net452" />
  <package id="Quartz" version="2.6.2" targetFramework="net452" />
  <package id="SerialPortStream" version="2.2.2" targetFramework="net452" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.0" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net452" />
</packages>